<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Phill Cheng</title>

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/styles.css">

        <!-- APPLICATION SCRIPTS -->
        <script src="scripts/app.js"></script>
    </head>
    <body id="bodyID" style="overflow-y:auto">
        <div class="navbar" id="navbar-id">
            <a class="active" href="#home">Home</a>
            <a href="#contact">Contact</a>
            <a href="#projects">Projects</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="hamburger()">
                <i class="fa fa-bars" id="hamburger-icon"></i>
            </a>
        </div>
        <div class="hero-image">
            <div class="hero-text">
                <h1>Phill Cheng</h1>
                <p>Full-Stack Software Engineer</p>
            </div>
            <div class="arrow-text">
                <a href="#about">
                    <!-- <i class="fas fa-arrow-circle-down" id="arrow-down"></i> -->
                    <!-- <i class="fas fa-arrow-alt-circle-down" id="arrow-down"></i> -->
                    <!-- <i class="fas fa-caret-down" id="arrow-down"></i> -->
                    <i class="fa fa-arrow-down" id="arrow-down"></i>
                </a>
            </div>
        </div>
        <section id="about">
            <div class="about-container">
                <div class="about-me">
                    <h1>About Me</h1>
                    <hr>
                    <p class="about-description">
                        My name is Phill,
                        I’m a Full-Stack Software Engineer with a passion for creating intuitive and dynamic front-end user experiences, while also focusing on building high performance and scalable server-side code.
                        I live in the Bay Area with my wife, Sherry, and our two dogs, Maximillian and Sheila. I enjoy photography, hiking, dog-training, and cooking.
                    </p>
                </div>
                <div class="icon-row">
                    <div class="icon-div">
                        <i class="fas fa-mobile-alt icon-images"></i>
                        <h3>Responsive Design</h3>
                        <p>Crafting pixel perfect front-ends, that look good on all devices.</p>
                    </div>
                    <div class="icon-div">
                        <i class="fas fa-heart icon-images"></i>
                        <h3>Made with Love</h3>
                        <p>Creating meaningful user experiences through beautifully crafted code.</p>
                    </div>
                    <div class="icon-div">
                        <i class="fas fa-cubes icon-images"></i>
                        <h3>Performance and Scalability</h3>
                        <p>Building back-end systems that can scale bigger and go faster.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <div class="project-title">
                <h1>Projects</h1>
                <hr>
                <p class="projects-description">hasellus ut nibh sit amet dui iaculis fringilla. Duis eget imperdiet ex, ac cursus lacus.</p>
            </div>
            <ul class="project-row">
                <li class="project-li">
                    <div class="project-item" id="project-1">
                        <div class="project-item-name">
                            <div class="project-item-name-div">
                                <a href="#openModal1"  onclick="toggleOverflow()" class="modal-open">
                                    <!-- <h1 onclick="currentSlide(1)">ARGOS</h1> -->
                                    <h1>ARGOS</h1>
                                </a>
                                <h3 class="project-description">
                                    <i>Social media web application for pet owners</i>
                                </h3>
                                <p>
                                    Ruby On Rails | PostgreSQL
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="openModal1" class="modalDialog">
                        <a href="#close" title="Close" onclick="toggleOverflow()" class="close"><i class="fas fa-times"></i></a>
                        <div class="item-content">
                            <header>
                                <div class="container">
                                    <h2>
                                        <b>ARGOS</b>
                                        <small>Social media web application for pet owners</small>
                                    </h2>
                                    <img src="images/argos_landing_mockup_2.png">
                                </div>
                            </header>
                            <section class="modal-description">
                                <div class="container">
                                    <div class="row">
                                        <div>
                                            <p class="modal-desc-p">
                                                Argos is a Social Media Application made for Pet Owners. Argos' user is the dedicated, loving, and compassionate pet owner. An owners' love for their pets is unique and my app delivers a product that enables users to share their special relationship with their critters while helping to organize some of the more tedious aspects of being a pet owner. Users can employ the “Argos Calendar” to set important dates like daily walks or vet visits.
                                            </p>
                                            <a class="btn" href="https://argosapp.herokuapp.com/">
                                                Visit Argos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li>
                <li class="project-li">
                    <div class="project-item" id="project-2">
                        <div class="project-item-name">
                            <div class="project-item-name-div">
                                <a href="#openModal2" onclick="toggleOverflow()" class="modal-open">
                                    <h1>POPOS</h1>
                                </a>
                                <h3 class="project-description">
                                    <i>Single page application that shows all of San Francisco's Privately Owned Public Open Spaces</i>
                                </h3>
                                <p>
                                    React.js | Node.js | MongoDB | Express.js
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="openModal2" class="modalDialog">
                        <a href="#close" id="modal-close2" title="Close" onclick="toggleOverflow()" class="close"><i class="fas fa-times"></i></a>
                        <div class="item-content">
                            <header id="modal-header2">
                                <div class="container">
                                    <h2>
                                        <b>POPOS</b>
                                        <small>Single page application that shows all of San Francisco's Privately Owned Public Open Spaces</small>
                                    </h2>
                                    <img src="images/popos_mockup_2.png">
                                </div>
                            </header>
                            <section class="modal-description">
                                <div class="container">
                                    <div class="row">
                                        <div>
                                            <p class="modal-desc-p">
                                                POPOS is a Single Page Application, build in React.js, that shows most of San Francisco’s privately-owned public open spaces, which are scattered throughout the downtown and financial districts. Use this web application to find your next spot to each lunch, hold an informal meeting, or just enjoy some nature!
                                            </p>
                                            <a class="btn" href="https://popos.herokuapp.com/">
                                                Visit POPOS
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li>
                <li class="project-li">
                    <div class="project-item" id="project-3">
                        <div class="project-item-name">
                            <div class="project-item-name-div">
                                <a href="#openModal3" onclick="toggleOverflow()" class="modal-open">
                                    <h1>POLASNAP</h1>
                                </a>
                                <h3 class="project-description">
                                    <i>Photo sharing web application</i>
                                </h3>
                                <p>Ruby On Rails | PostgreSQL</p>
                            </div>
                        </div>
                    </div>
                    <!-- modal start -->
                    <div id="openModal3" class="modalDialog">
                        <a href="#close" id="modal-close3" title="Close" onclick="toggleOverflow()" class="close"><i class="fas fa-times"></i></a>
                        <div class="item-content">
                            <header id="modal-header3">
                                <div class="container">
                                    <h2>
                                        <b>POLASNAP</b>
                                        <small>Photo sharing web application</small>
                                    </h2>
                                    <img src="images/pola_test_mockup1.png">
                                </div>
                            </header>
                            <section class="modal-description">
                                <div class="container">
                                    <div class="row">
                                        <div>
                                            <p class="modal-desc-p">
                                                Pola-Snap is an online photo management application. Users can upload, access, organize, and share photos from any device, from anywhere in the world. Users can “like” other users’ photos, comment on those photos, and enjoy searching for pictures by “tag name”. Polo-Snap is designed for organizations as well as individual users who want to share their photos with the world.
                                            </p>
                                            <a class="btn" href="https://popos.herokuapp.com/">
                                                Visit POPOS
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section id="contact">
            <div class="contact-title">
                <h1>Contact</h1>
                <hr>
                <img class="circle-img" src="images/picture-2.png">
                <!-- <img class="circle-img" src="images/phill.png"> -->
                <h2 class="contact-description">
                    <a href="mailto:phillbert.cheng@protonmail.com">Get in touch</a>
                    , if you'd like to work on something together.</h2>
                <h2 class="contact-description mar-btm-10">Connect with me!</h2>
                <div class="social-media">
                    <a href="https://github.com/PJC-1">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="mailto:phillbert.cheng@protonmail.com">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/phillbertcheng/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-div">
                        <p>
                            © 2018 PHILL CHENG
                        </p>
                    </div>
                    <div id="scroll-top" class="footer-div text-right">
                        <a href="#bodyID" title="Scroll to top">
                            To the top
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
