<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Phill Cheng</title>

        <!-- STYLESHEETS -->
        <!-- <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/styles.css">

        <!-- VENDOR SCRIPTS -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->

        <!-- APPLICATION SCRIPTS -->
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <div class="navbar" id="navbar-id">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="hamburger()">
                <i class="fa fa-bars" id="hamburger-icon"></i>
            </a>
        </div>
        <div class="hero-image">
          <div class="hero-text">
            <h1>Phill Cheng</h1>
            <p>Full-Stack Software Engineer</p>
          </div>
          <div class="arrow-text">
              <a href="#about">
                <!-- <i class="fas fa-arrow-circle-down" id="arrow-down"></i> -->
                <i class="fas fa-arrow-alt-circle-down" id="arrow-down"></i>
                <!-- <i class="fas fa-caret-down" id="arrow-down"></i> -->
                <!-- <i class="fa fa-arrow-down" id="arrow-down"></i> -->
              </a>
          </div>
        </div>
        <section id="about">
            <div>
                <h1>About Me</h1>
                <hr>
                <p>
                    My name is Phill,
                    I’m a Full-Stack Web Developer with a passion for creating intuitive and dynamic front-end user experiences, while also focusing on building high performance and scalable server-side code.
                    I live in the Bay Area with my wife, Sherry, and our two dogs, Maximillian and Sheila. I enjoy photography, hiking, dog-training, and cooking.
                </p>
                <div class="icon-row">
                    <div>
                        <div></div>
                        <h3>Responsive Design</h3>
                        <p>hasellus ut nibh sit amet dui iaculis fringilla. Duis eget imperdiet ex, ac cursus lacus.</p>
                    </div>
                    <div>
                        <div></div>
                        <h3>Made with Love</h3>
                        <p>hasellus ut nibh sit amet dui iaculis fringilla. Duis eget imperdiet ex, ac cursus lacus.</p>
                    </div>
                    <div>
                        <div></div>
                        <h3>Performance and Scalability</h3>
                        <p>hasellus ut nibh sit amet dui iaculis fringilla. Duis eget imperdiet ex, ac cursus lacus.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <hr>
        </section>
        <section id="contact">
            <h1>Contact</h1>
        </section>
    </body>
</html>
