body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}



/**************/
/* HERO IMAGE */
/**************/

.hero-image {
    background-image: url("../images/wood.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text  {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 62px;
    margin-bottom: 3px;
}

.hero-text p {
    font-size: 25px;
    font-style: italic;
    margin-top: 3px;
}

.arrow-text {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#arrow-down {
    font-size: 75px;
    color: #FFFFFF;
}



/******************/
/* NAVIGATION BAR */
/******************/

.navbar {
    background-color: #FFFFFF;
    overflow: hidden;
}

.navbar a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 20px 21px;
    text-decoration: none;
    font-size: 25px;
}

.navbar a:hover {
    font-weight: bold;
}

.navbar a.active {
    background-color: #FFFFFF;
    color: #000000;
    float: left;
}

.navbar .icon {
    display: none;
}



/*********/
/* ABOUT */
/*********/

#about {
    text-align: center;
    padding: 100px 0;
}

#about h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.about-description {
    margin: 70px 0 115px;
    line-height: 45px;
    font-size: 28px;
    text-align: justify;
}

.about-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* margin-left: 200px;
    margin-right: 200px; */
}

.icon-row {
    display: inline-block;
    width: 1200px;
}

.icon-div {
    width: 30%;
    float: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-div h3 {
    font-size: 30px;
}

.icon-div p {
    margin: 0px auto 20px;
    max-width: 200px;
}

.icon-images {
    font-size: 62px;
    margin-bottom: 15px;
    margin-top: 15px;
}



/********************************/
/* MEDIA QUERY MAX-WIDTH 1300px */
/********************************/

@media screen and (max-width: 1300px)  {
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 1000px;
    }
    .icon-div {
        width: 29%;
    }
    .icon-row {
        width: 1000px;
    }
}



/********************************/
/* MEDIA QUERY MAX-WIDTH 1200px */
/********************************/

@media screen and (max-width: 1200px)  {
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 950px;
    }
    .about-description {
        margin: 60px 0 135px;
    }
    .icon-div {
        width: 65%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        /* float: left;
        position: relative;
        padding-left: 20px;
        padding-right: 20px; */
    }
    .icon-row {
        /* display: inline-block; */
        width: 830px;
    }
    .icon-div p {
        margin: 0px auto 160px;
    }
}



/********************************/
/* MEDIA QUERY MAX-WIDTH 1100px */
/********************************/

@media screen and (max-width: 1100px)  {
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 850px;
    }
    .about-description {
        margin: 50px 0 110px;
    }
    .icon-div {
        width: 65%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-row {
        width: 650px;
    }
    .icon-div p {
        margin: 0px auto 150px;
    }
}



/*******************************/
/* MEDIA QUERY MAX-WIDTH 1000px */
/*******************************/

@media screen and (max-width: 1000px)  {
    /* Navigation Bar */
    .navbar a {
        font-size: 23px;
        padding: 19px 20px;
    }

    /* Hero Image */
    .hero-text h1 {
        font-size: 50px;
        margin-bottom: 2px;
    }
    .hero-text p {
        font-size: 20px;
        font-style: italic;
        margin-top: 2px;
    }
    .arrow-text {
        top: 83%;
    }
    #arrow-down {
        font-size: 74px;
    }

    /* About */
    #about {
        padding: 90px 0;
    }
    #about h1 {
        font-size: 50px;
        margin-top: 18px;
    }
    .about-description {
        margin: 50px 0 130px;
        line-height: 39px;
        font-size: 26px;
    }
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 750px;
    }
    .icon-div {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 610px;
    }
    .icon-div p {
        margin: 0px auto 140px;
    }
}



/*******************************/
/* MEDIA QUERY MAX-WIDTH 900px */
/*******************************/

@media screen and (max-width: 900px)  {
    /* Navigation Bar */
    .navbar a {
        font-size: 22px;
        padding: 18px 19px;
    }

    /* Hero Image */
    .hero-text h1 {
        font-size: 47px;
        margin-bottom: 1px;
    }
    .hero-text p {
        font-size: 18px;
        font-style: italic;
        margin-top: 1px;
    }
    .arrow-text {
        top: 82%;
    }
    #arrow-down {
        font-size: 73px;
    }

    /* About */
    #about {
        padding: 85px 0;
    }
    #about h1 {
        font-size: 47px;
        margin-top: 15px;
    }
    .about-description {
        margin: 50px 0 130px;
        line-height: 38px;
        font-size: 24px;
    }
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 650px;
    }
    .icon-div {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 610px;
    }
    .icon-div p {
        margin: 0px auto 130px;
    }
}



/*******************************/
/* MEDIA QUERY MAX-WIDTH 800px */
/*******************************/

@media screen and (max-width: 800px)  {
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 600px;
    }
    .about-description {
        margin: 50px 0 125px;
    }
    .icon-row  {
        width: 600px;
    }
    .icon-div {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 560px;
    }
    .icon-div p {
        margin: 0px auto 120px;
    }
}



/*******************************/
/* MEDIA QUERY MAX-WIDTH 700px */
/*******************************/

@media screen and (max-width: 700px)  {
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 500px;
    }
    .about-description {
        margin: 50px 0 125px;
    }
    .icon-row {
        width: 500px;
    }
    .icon-div {
        float: none;
        width: 460px;
    }
    .icon-div p {
        margin: 0px auto 110px;
    }
}



/*******************************/
/* MEDIA QUERY MAX-WIDTH 600px */
/*******************************/

@media screen and (max-width: 600px) {
    /* Navigation Bar */
    #hamburger-icon {
        font-size: 24px;
    }
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar a {
        font-size: 21px;
        padding: 18px 19px;
    }

    /* Hero Image */
    .hero-text h1 {
        font-size: 43px;
        margin-bottom: 0px;
    }
    .hero-text p {
        font-size: 17px;
        font-style: italic;
        margin-top: 0px;
    }
    .arrow-text {
        top: 81%;
    }
    #arrow-down {
        font-size: 68px;
    }

    /* About */
    #about {
        padding: 82px 0;
    }
    #about h1 {
        font-size: 43px;
        margin-top: 10px;
    }
    .about-description {
        margin: 50px 0 110px;
        line-height: 35px;
        font-size: 23px;
    }
    .about-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 420px;
    }
    .icon-row {
        width: 420px;
    }
    .icon-div {
        width: 380px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-div p {
        margin: 0px auto 100px;
    }
    .icon-div h3 {
        font-size: 27px;
    }
    .icon-images {
        font-size: 55px;
    }
}



/*******************************/
/* MEDIA QUERY MAX-WIDTH 500px */
/*******************************/

@media screen and (max-width: 500px)  {
    /* Navigation Bar */
    #hamburger-icon {
        font-size: 23px;
    }
    .navbar a {
        font-size: 19px;
        padding: 16px 18px;
    }

    /* Hero Image */
    .hero-text h1 {
        font-size: 29px;
        margin-bottom: 0px;
    }
    .hero-text p {
        font-size: 12px;
        font-style: italic;
        margin-top: 0px;
    }
    .arrow-text {
        top: 80%;
    }
    #arrow-down {
        font-size: 50px;
    }

    /* About */
    #about {
        padding: 80px 0;
    }
    #about h1 {
        font-size: 29px;
        margin-top: 5px;
    }
    .about-me {
      padding-left: 20px;
      padding-right: 20px;
    }
    .about-description {
        margin: 40px 0 100px;
        line-height: 30px;
        font-size: 17px;
    }
    .about-container {
        margin-right: auto;
        margin-left: auto;
        width: 310px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .icon-row {
        width: 310px;
    }
    .icon-div {
        width: 310px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .icon-div p {
        margin: 0px auto 95px;
    }
    .icon-div h3 {
        font-size: 20px;
    }
    .icon-images {
        font-size: 50px;
    }
}
